.header{
    display: flex;
    align-items: center;
    padding: 14px 16px 14px 25px;
    background-color: #373f68;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header__texts{
    display: flex;
    gap: 100px;
    text-align: center;
}
.header__title{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #fff;
    margin-left: 50px;
}
.header__text{
    font-weight: 400;
    font-size: 14px;
    color: #f2f4fe;
    padding-top: 5px;
}
.header__link{
    font-weight: 700;
    font-size: 14px;
    color: #f2f4fe;
    padding: 12px 24px;
    background-color: #ad1fea;
    border-radius: 10px;
    text-decoration: none;
}