/* .header__block{
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 322px;
}
.header__title{
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #11142d;
}
.header__text{
    font-weight: 400;
    font-size: 11px;
    color: #aaa;
} */